# Generic CodeIgniter .gitignore supplied by github:
# https://github.com/github/gitignore/blob/master/CodeIgniter.gitignore
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

/CodeIgniter_application/config/facebook.php
