SSLOptions +StrictRequire
SSLRequireSSL
SSLRequire %{HTTP_HOST} eq "chingford-model-engineering.com"
ErrorDocument 403 https://chingford-model-engineering.com

RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

ErrorDocument 404 /404.html
