{% assign top-page = page.url | remove_first:'/' | split:'/' | first %}
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/" title="Chingford &amp; District Model Engineering Club">
        <img alt="Logo" src="{% asset_path logo_mobile@2x.png %}" class="visible-xs" height="50px">
        <img alt="Logo" src="{% asset_path logo_mobile@2x.png %}" class="visible-sm" height="45px" vspace="2">
        <img alt="Logo" src="{% asset_path logo@2x.png %}" class="visible-md visible-lg" height="50px">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {% for nav in site.data.nav %}
          {% assign nav-top-page = nav.href | remove_first:'/' | split:'/' | first %}
          <li {% if top-page == nav-top-page %} class="active" {% endif %}><a href="{{ site.baseurl }}{{ nav.href }}">{{ nav.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
