---
layout: default
---
{% assign top-page = page.url | split:'/' %}
{% assign top-page = top-page[1] | prepend:'/' | append:'/' %}
{% assign page_nav_data = site.data.nav | where: "href", top-page | first %}

<div class="row">
  <div class="col-xs-12 page-header">
    <h1>{{ page.title }}</h1>
  </div>
</div>
{% if page_nav_data.subcategories != null  %}
<div class="row">
  <div class="col-xs-12 sub-nav">
    {% for item in page_nav_data.subcategories %}
      <a {% if page.url == item.subhref %} class="active" {% endif %} href="{{ site.baseurl }}{{ item.subhref }}">{{ item.subtitle }}</a>
    {% endfor %}
  </div>
</div>
{% endif %}
<div class="row">
  <div class="col-xs-12 page-content">
    {{ content }}
  </div>
</div>
